body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right,rgb(242, 11, 207),rgb(29, 230, 245));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 50px;
}

.container {
  background: rgb(207, 241, 70);
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 400px;
}

h1 {
  text-align: center;
  color: #2f3640;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #273c75;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #40739e;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f1f2f6;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

li.done {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #e84118;
}
